[workspace]
resolver = "2"
members = [
    "simnode",
    "runtime-api",
    "tests",

     # parachain
    "examples/parachain/node",
    "examples/parachain/runtime",

     # aura
     "examples/aura/node",
     "examples/aura/runtime",

      # babe
     "examples/babe/node",
     "examples/babe/runtime",
     "examples/babe/rpc",
]

[workspace.dependencies]
codec = { version = "3.1.3", package = "parity-scale-codec", default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }

# wasm
frame-benchmarking = { version = "37.0.0", default-features = false }
frame-executive = { version = "37.0.0", default-features = false }
frame-election-provider-support = { version = "37.0.0", default-features = false }
frame-support = { version = "37.0.0", default-features = false }
frame-system = { version = "37.0.0", default-features = false }
frame-system-benchmarking = { version = "37.0.0", default-features = false }
frame-system-rpc-runtime-api = { version = "34.0.0", default-features = false }
frame-try-runtime = { version = "0.43.0", default-features = false }
pallet-aura = { version = "36.0.0", default-features = false }
pallet-grandpa = { version = "37.0.0", default-features = false }
pallet-babe = { version = "37.0.0", default-features = false }
pallet-offences = { version = "36.0.0", default-features = false }
pallet-authorship = { version = "37.0.0", default-features = false }
pallet-balances = { version = "38.0.0", default-features = false }
pallet-session = { version = "37.0.0", default-features = false }
pallet-staking = { version = "37.0.0", default-features = false }
pallet-session-benchmarking = { version = "37.0.0", default-features = false }
pallet-sudo = { version = "37.0.0", default-features = false }
pallet-timestamp = { version = "36.0.0", default-features = false }
pallet-transaction-payment = { version = "37.0.0", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { version = "37.0.0", default-features = false }
pallet-message-queue = { version = "40.0.0", default-features = false }
pallet-beefy-mmr = { version = "38.0.0", default-features = false }
pallet-assets = { version = "39.0.0", default-features = false }
pallet-staking-reward-curve = { version = "12.0.0" }

sp-api = { version = "34.0.0", default-features = false }
sp-blockchain = { version = "37.0.0", default-features = false }
sp-io = { version = "38.0.0", default-features = false }
sp-trie = { version = "37.0.0", default-features = false }
sp-block-builder = { version = "34.0.0", default-features = false }
sp-consensus-aura = { version = "0.40.0", default-features = false }
sp-consensus-babe = { version = "0.40.0", default-features = false }
sp-consensus-grandpa = { version = "21.0.0", default-features = false }
sp-consensus-slots = { version = "0.40.0", default-features = false }
sp-consensus = { version = "0.40.0", default-features = false }
sp-consensus-beefy = { version = "22.0.0", default-features = false }
sp-core = { version = "34.0.0", default-features = false }
sp-inherents = { version = "34.0.0", default-features = false }
sp-externalities = { version = "0.29.0", default-features = false }
sp-offchain = { version = "34.0.0", default-features = false }
sp-keyring = { version = "39.0.0", default-features = false }
sp-runtime = { version = "39.0.0", default-features = false }
sp-runtime-interface = { version = "28.0.0", default-features = false }
sp-timestamp = { version = "34.0.0", default-features = false }
sp-keystore = { version = "0.40.0", default-features = false }
sp-mmr-primitives = { version = "34.0.0", default-features = false }
sp-state-machine = { version = "0.43.0", default-features = false }
sp-storage = { version = "21.0.0", default-features = false }
sp-staking = { version = "34.0.0", default-features = false }
sp-session = { version = "35.0.0", default-features = false }
sp-std = { version = "14.0.0", default-features = false }
sp-transaction-pool = { version = "34.0.0", default-features = false }
sp-version = { version = "37.0.0", default-features = false }
sp-genesis-builder = { version = "0.15.0", default-features = false }
sp-wasm-interface = { version = "21.0.0", default-features = false }
sp-transaction-storage-proof = { version = "34.0.0", default-features = false }

pallet-xcm = { version = "16.0.0", default-features = false }
polkadot-parachain-primitives = { version = "14.0.0", default-features = false }
polkadot-runtime-common = { version = "16.0.0", default-features = false }
staging-xcm = { version = "14.1.0", default-features = false }
staging-xcm-builder = { version = "16.0.0", default-features = false }
staging-xcm-executor = { version = "16.0.0", default-features = false }

cumulus-primitives-aura = { version = "0.15.0", default-features = false }
cumulus-pallet-session-benchmarking = { version = "18.0.0", default-features = false }
cumulus-pallet-aura-ext = { version = "0.16.0", default-features = false }
cumulus-pallet-dmp-queue = { version = "0.16.0", default-features = false }
cumulus-pallet-parachain-system = { version = "0.16.0", default-features = false }
cumulus-pallet-xcm = { version = "0.16.0", default-features = false }
cumulus-pallet-xcmp-queue = { version = "0.16.0", default-features = false }
cumulus-primitives-core = { version = "0.15.0", default-features = false }

cumulus-primitives-timestamp = { version = "0.15.0", default-features = false }
cumulus-primitives-utility = { version = "0.16.0", default-features = false }
pallet-collator-selection = { version = "18.0.0", default-features = false }
parachain-info = { version = "0.16.0", package = "staging-parachain-info", default-features = false }
parachains-common = { version = "17.0.0", default-features = false }


# client
parachain-inherent = { version = "0.15.0", package = "cumulus-primitives-parachain-inherent" }
sproof-builder = { version = "0.15.0", package = "cumulus-test-relay-sproof-builder" }
frame-benchmarking-cli = "42.0.0"

pallet-transaction-payment-rpc = "40.0.0"
sc-basic-authorship = "0.44.0"

sc-chain-spec = "37.0.0"
sc-cli = "0.46.0"
sc-keystore = "33.0.0"
sc-informant = "0.43.0"
sc-block-builder = "0.42.0"
sc-client-api = "37.0.0"
sc-client-db = "0.44.0"
sc-consensus = "0.43.0"
sc-consensus-aura = "0.44.0"
sc-consensus-grandpa = "0.29.0"
sc-consensus-babe = "0.44.0"
sc-consensus-epochs = "0.43.0"
sc-consensus-slots = "0.43.0"
sc-executor = "0.40.0"
sc-network = "0.44.0"
sc-network-sync = "0.43.0"
sc-network-common = "0.43.0"
sc-rpc = "39.0.0"
sc-rpc-api = "0.43.0"
sc-rpc-server = "16.0.2"
sc-rpc-spec-v2 = "0.44.0"
substrate-state-trie-migration-rpc = "37.0.0"
sc-consensus-babe-rpc = "0.44.0"
sc-consensus-grandpa-rpc = "0.29.0"
sc-sync-state-rpc = "0.44.0"
sc-service = "0.45.0"
sc-sysinfo = "37.0.0"
sc-storage-monitor = "0.22.0"
sc-telemetry = "24.0.0"
sc-tracing = "37.0.0"
sc-transaction-pool = "37.0.0"
sc-transaction-pool-api = "37.0.0"
sc-offchain = "39.0.0"
manual-seal = { version = "0.45.0", package = "sc-consensus-manual-seal" }
substrate-frame-rpc-system = "38.0.0"
substrate-prometheus-endpoint = "0.17.0"
try-runtime-cli = "0.41.0"
polkadot-cli = "17.0.0"
polkadot-primitives = "15.0.0"
polkadot-service = "17.0.0"
cumulus-client-cli = "0.17.0"
cumulus-client-consensus-aura = "0.17.0"
cumulus-client-consensus-common = "0.17.0"
cumulus-client-network = "0.17.0"
cumulus-client-service = "0.17.0"
cumulus-primitives-parachain-inherent = "0.15.0"
cumulus-relay-chain-interface = "0.17.0"
cumulus-client-consensus-proposer = "0.15.0"
cumulus-client-collator = "0.17.0"
substrate-wasm-builder = { version = "24.0.0" }
mmr-rpc = { version = "37.0.0" }
xcm-simulator-example = "16.0.0"
xcm-simulator = "16.0.0"
polkadot-runtime-parachains = "16.0.0"
substrate-build-script-utils = "11.0.0"
jsonrpsee = "0.23"