name: CI

on:
  push:
    branches: [master]
  pull_request:

concurrency:
  group: ${{ github.repository }}-workflow
  cancel-in-progress: true

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@main

      - name: Install nightly toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v1
      - name: Install protoc
        run: |
          sudo apt-get update
          sudo apt-get install protobuf-compiler

      - name: cargo check simnode
        run: cargo check -p sc-simnode

  tests:
    runs-on: arc-runner-set
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: |
          rustup toolchain install nightly
          rustup target add wasm32-unknown-unknown --toolchain nightly
          rustup target add wasm32-unknown-unknown
          rustup component add rust-src

      # - uses: Swatinem/rust-cache@v1

      - name: Install protoc
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler build-essential

      - name: Build all binaries
        run: |
          rm -rf target/ Cargo.lock ~/.cargo/registry
          cargo +nightly build --release --bins

      - name: Aura Integration tests
        run: |
          ./target/release/aura-node simnode --dev --state-pruning=archive --blocks-pruning=archive &
          sleep 20;
          RUST_BACKTRACE=1 cargo test  --release -p simnode-integration-tests --tests aura -- --nocapture
          kill -9 $!

      - name: Babe Integration tests
        run: |
          ./target/release/babe-node simnode --dev --state-pruning=archive --blocks-pruning=archive &
          sleep 20;
          RUST_BACKTRACE=1 cargo test --release -p simnode-integration-tests --tests babe -- --nocapture
          kill -9 $!

      - name: Parachain Integration tests
        run: |
          ./target/release/parachain-node simnode --dev --state-pruning=archive --blocks-pruning=archive &
          sleep 20;
          RUST_BACKTRACE=1 cargo test --release -p simnode-integration-tests --tests parachain -- --nocapture
          kill -9 $!
